# Assignment 1: Dataset Exploration and A Study of the k-Nearest Neighbors Model

Task/Problem Statement: 
- Briefly describe your project/task/problem

### Dataset
- Provide information about the dataset



##### Description: 

###### Source:
- It could be a URL



##### Input variables:
- Provide a list

##### Output variable: 
-

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn as sk

## Load Data & Display Dataset Information

In [2]:
# Load the CSV file as a Pandas DataFrame object. Name it "df".
# Display the first 5 rows of the DataFrame.
df = pd.read_csv('adult.csv')
df.head(5)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relatioship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,NaN,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50.0,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38.0,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53.0,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28.0,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [3]:
# Display a summy of the dataset information.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32560 non-null  float64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relatioship     32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: float64(1), int64(5), object(9)
memory usage: 3.7+ MB

In [4]:
# Display the number of categories and the list of categories for each categorical variable. For 
# example, for the categorical variable ‘sex’, display its two categories: ‘Male’ and ‘Female’
category_df = df.select_dtypes(include='object')

def print_categories(columns):
    for column in columns:
        print(f'{column} ({df[column].nunique()}): {df[column].unique()}')
        
print_categories(category_df.columns)

workclass (9): [' State-gov' ' Self-emp-not-inc' ' Private' ' Federal-gov' ' Local-gov'
 ' ?' ' Self-emp-inc' ' Without-pay' ' Never-worked']
education (16): [' Bachelors' ' HS-grad' ' 11th' ' Masters' ' 9th' ' Some-college'
 ' Assoc-acdm' ' Assoc-voc' ' 7th-8th' ' Doctorate' ' Prof-school'
 ' 5th-6th' ' 10th' ' 1st-4th' ' Preschool' ' 12th']
marital-status (7): [' Never-married' ' Married-civ-spouse' ' Divorced'
 ' Married-spouse-absent' ' Separated' ' Married-AF-spouse' ' Widowed']
occupation (15): [' Adm-clerical' ' Exec-managerial' ' Handlers-cleaners' ' Prof-specialty'
 ' Other-service' ' Sales' ' Craft-repair' ' Transport-moving'
 ' Farming-fishing' ' Machine-op-inspct' ' Tech-support' ' ?'
 ' Protective-serv' ' Armed-Forces' ' Priv-house-serv']
relatioship (6): [' Not-in-family' ' Husband' ' Wife' ' Own-child' ' Unmarried'
 ' Other-relative']
race (5): [' White' ' Black' ' Asian-Pac-Islander' ' Amer-Indian-Eskimo' ' Other']
sex (2): [' Male' ' Female']
native-country (42): [' United-States' ' Cuba' ' Jamaica' ' India' ' ?' ' Mexico' ' South'
 ' Puerto-Rico' ' Honduras' ' England' ' Canada' ' Germany' ' Iran'
 ' Philippines' ' Italy' ' Poland' ' Columbia' ' Cambodia' ' Thailand'
 ' Ecuador' ' Laos' ' Taiwan' ' Haiti' ' Portugal' ' Dominican-Republic'
 ' El-Salvador' ' France' ' Guatemala' ' China' ' Japan' ' Yugoslavia'
 ' Peru' ' Outlying-US(Guam-USVI-etc)' ' Scotland' ' Trinadad&Tobago'
 ' Greece' ' Nicaragua' ' Vietnam' ' Hong' ' Ireland' ' Hungary'
 ' Holand-Netherlands']
income (2): [' <=50K' ' >50K']

## Data Pre-processing

In [5]:
# Some columns may contain “?” values. Programmatically replace these "?" values with NaN values.
# strip() is used to remove leading and trailing whitespaces.
category_df = category_df.apply(lambda x: x.str.strip() if x.dtype == "object" else x)
category_df = category_df.replace('?', None)

# print_categories(category_df.columns)

In [7]:
# One-hot encode the categorical features and combine the one-hot encoded features with the non-
# categorical columns. Ensure that only (n-1) columns are added for a categorical variable with n 
# categories. The DataFrame object “df” should include all one-hot encoded and non-categorical 
# features. Finally, display the first five rows of the modified “df
dummy_df = pd.get_dummies(category_df, drop_first=True).astype(int)
df = df.drop(columns=category_df.columns)
df = pd.concat([df, dummy_df], axis=1)
df.head(5)

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,workclass_Local-gov,workclass_Never-worked,workclass_Private,workclass_Self-emp-inc,...,native-country_Puerto-Rico,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia,income_>50K
0,NaN,77516,13,2174,0,40,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,50.0,83311,13,0,0,13,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,38.0,215646,9,0,0,40,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
3,53.0,234721,7,0,0,40,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
4,28.0,338409,13,0,0,40,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

## Data Analysis

## Create Data Matrix X and Target y

## Partition the Dataset into Train & Test Subsets

## Standardize the Data

## Model Selection

In [ ]:
%%time

## Train a Model Using Optimal Hyperparameters

In [ ]:
%%time

## Evaluate the Model

In [ ]:
%%time